@import "tailwindcss";

/* custom scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #000000;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ff9800;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff9800;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
